<!DOCTYPE html>
{% load static %}

<html dir="rtl" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-v4-rtl/4.5.2-1/css/bootstrap.min.css"
          integrity="sha512-Nts+3M9snzcMkpLFNQ2sesyPc/EkWWVdJZMQaJeQMx6OoVs1kWNEFRG464CdIfyB9gjgKbDMFovNQxfTs40+8g=="
          crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-v4-rtl/4.5.2-1/css/bootstrap-grid.min.css"
          integrity="sha512-RYWaVFBqTu5V7SMDzGHTyqFsno+luBDh9x69Tpu//J3pgBsJl5zeCkEDdD/4RUpF0GT25i8vUHJeCIujE4bj0A=="
          crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-v4-rtl/4.5.2-1/css/bootstrap-rtl.min.css"
          integrity="sha512-+1C9xBCl0azgGjU6bIsATfB4XOQ0MSFduPs388NiyzwYt4nfelS72KSPSFZT338FjP7F3mMme2re8+gUJe2HZQ=="
          crossorigin="anonymous"/>

</head>
<body style="background: #fffaf4">
<header class="header ff">
     <div class="row">
         <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light "style="background: #00163d">

        <div class="collapse navbar-collapse "  id="navbarNavAltMarkup">
            <div class="navbar-nav " >
                <a class="nav-item nav-link active "style="color: #9d9d9d " href="{% url 'shop:index' %}">خانه <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link "style="color: #9d9d9d " href="{% url 'shop:store' %}" >فروشگاه</a>
                <a class="nav-item nav-link" style="color: #9d9d9d " href="{% url 'shop:base' %}">درباره ما</a>
            </div>
        </div>
            {% for i in base_list %}
                    <a class="navbar-brand" href="{% url 'shop:index' %}">
                        <img src="{{ i.image.url }}" width="30" height="30" class="d-inline-block align-top" alt="{{ i.name }}">
                    </a>
            {% endfor %}
        <button class="navbar-toggler" style="background: #9d9d9d" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
         </div>
     </div>

</header>

{% block content %}

{% endblock %}
        <footer class="footer ff pt-4 my-md-5 pt-md-5 border-top navbar-light " style="background: #00163d">

            <div class="row">

                <div class="col-6 col-md rtl align-top">
                    <h5 style="color: #9d9d9d">درباره ما</h5>
                    <ul class="list-unstyled text-small">
                        {% for j in base_list1 %}

                            <li><a style="color: white" href="#">{{ j.name }}</a></li>
                            <li><a style="color: white" href="#">{{ j.namber }}</a></li>
                            <li><a style="color: white" href="#">{{ j.n_email }}</a></li>
                            <li><a style="color: white" href="#">{{ j.n_insta }}</a></li>
                            <li><a style="color: white" href="#">{{ j.addres }}</a></li>
                            </ul>
                        {% endfor %}
                </div>
                <div class="col-12 col-md ">
                    {% for i in base_list %}
                    <img class="mb-2" src="{{ i.image.url }}" alt="" width="24" height="24">
                    {% endfor %}
                    <small class="d-block mb-3 " style="color: white "> 1398-1399</small>
                </div>
            </div>
    </footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"
        integrity="sha512-/DXTXr6nQodMUiq+IUJYCt2PPOUjrHJ9wFrqpJ3XkgPNOZVfMok7cRw6CSxyCQxXn6ozlESsSh1/sMCTF1rL/g=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.4/umd/popper.min.js"
        integrity="sha512-eUQ9hGdLjBjY3F41CScH3UX+4JDSI9zXeroz7hJ+RteoCaY+GP/LDoM8AO+Pt+DRFw3nXqsjh9Zsts8hnYv8/A=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-v4-rtl/4.5.2-1/js/bootstrap.min.js"
        integrity="sha512-M5KW3ztuIICmVIhjSqXe01oV2bpe248gOxqmlcYrEzAvws7Pw3z6BK0iGbrwvdrUQUhi3eXgtxp5I8PDo9YfjQ=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-v4-rtl/4.5.2-1/js/bootstrap.bundle.min.js"
        integrity="sha512-kBFfSXuTKZcABVouRYGnUo35KKa1FBrYgwG4PAx7Z2Heroknm0ca2Fm2TosdrrI356EDHMW383S3ISrwKcVPUw=="
        crossorigin="anonymous"></script>
{#<script>#}
{#    $("li a:odd").css("color", "#000000");#}
{#    $("li a:even").css("color", "gold");#}
{#</script>#}
</body>
</html>