{% extends 'base.html' %}
{% load static %}
{% block title %} محصول {% endblock %}
{% block content %}

    <div class="container ff">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <div class="row">
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                                <div class="col-md-4">
                                    <img src="{{ product_d.image.url }}" style="height: 100%;width: 100%">
                                </div>
                                <div class="card-body d-flex flex-column align-items-start rtl">
                                    <h2 class="mb-0">
                                        <a class="text-dark" href="#">{{ product_d.n_h2 }}</a>
                                    </h2>
                                    <div class="mb-1 text-muted">{{ product_d.n_span }}</div>

                                    <p>{{ product_d.n_p }}</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}